<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<h1> Userlist</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a>
	<a href="/user/create">Create new user</a>  
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Username</td>
			<td>Email</td>
			<td>Password</td>
		</tr>
		
		

		<% users.forEach( function(std,i){ %>
			
			<tr>
				<td><%= i+1 %></td>
				<td><%= std[0] %></td>
				<td><%= std[1] %></td>
				<td><%= std[2] %></td>
				<td>
					<a href="/user/edit/<%= i %>">Edit</a> |
					<a href="/user/delete/<%= std[0] %>">Delete</a>
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>